{% extends "base.html" %}
{% block title %}Создание и редактирование поста{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        {% if is_edit %}
          <div class="card-header">Редактировать</div>
        {% elif is_delete %}
          <div class="card-header">Удалить</div>
        {% else %}
          <div class="card-header">Создать новый пост</div>
        {% endif %}
          <div class="card-body">
              {% if form.errors %}
                  {% for field in form %} 
                    {% for error in field.errors %}            
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
              {% endif %}
              <form method="post"
              enctype="multipart/form-data"
              {% if is_edit %} 
              action="{% url 'posts:post_edit' post.id %}"
              {% elif is_delete %} 
              action="{% url 'posts:post_delete' post.id %}" 
              {% else %} 
              action="{% url 'posts:post_create' %}" 
              {% endif %}>
              {% csrf_token %}
              {# Выводим поля в цикле, по отдельности #}
              {% for field in form %} 
                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {# К полю ввода добавляем атрибут class #}
                  {{ field|addclass:'form-control' }} 
                    {% if field.help_text %}
                      <small 
                         id="{{ field.id_for_label }}-help"
                         class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                </div>
              {% endfor %}
              <div class="col-md-6 offset-md-4">
                {% if is_edit %}
                 <button type="submit" class="btn btn-primary">
                    Сохранить
                {% elif is_delete %}
                  <button type="submit" class="btn btn-danger">
                    Удалить
                {% else %}
                  <button type="submit" class="btn btn-success">
                    Опубликовать
                  {% endif %}
                </button>
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}